---
layout: default
title: Productos
permalink: "/productos/"
---

{% if page.url == "/productos/" %}
<!-- Image Div -->
<div class="image-div">
    <img class="intro" src="{{site.baseurl}}/assets/images/productsintro.webp">
    <div class="overlay-text">
        <h2>Nuestros Productos</h2>
        <h3>Los sabores de la masa</h3>
    </div>
</div>

<!-- PRODUCTS -->

<div class="product-board">
    {% for product in site.products %}
      <div class="product-item col-md-4">
        <div class="product-image-container">
          <img src="{{ site.url }}{{ product.image }}" alt="">
        </div>
        <div class="product-text">
          <p>{{ product.title }}</p>
          <p>{{ product.description_markdown | truncate: 92 | markdownify }}</p>
          <p>{{ product.price }}</p>
          <a href="http://take.app/homebuns" target="_blank">Order now!</a>
        </div>
      </div>
    {% endfor %}
  </div>

  <!-- SERVICES -->

  <div class="service-board row">
    <div class="service-item col-md-4">
      <p>ubicados en heredia</p>
    </div>
    <div class="service-item col-md-4">
      <p>precios especiales para eventos y restaurantes</p>
    </div>
    <div class="service-item col-md-4">
      <p>entregas de lunes a viernes</p>
    </div>
  </div>

{% endif %}





